@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Models

@{
    Layout = "~/Views/Shared/_TranslationListLayout.cshtml";    
}

<div class="row">
    <div class="col-md-6">
        @TextInputHelper.TextInput("description", Sentences.description, true, Att.NgModel("package.description"))
    </div>
</div>