<div class="row" data-ng-show="step == 'linksList'">
    <h2 class="title-text">Gerenciar vínculos do requisito FR01</h2>
    <h2>
        <button class="btn" data-ng-click="addNewLink();">
            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar vínculo
        </button>
    </h2>

    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Tipo </th>
                    <th> Criado por </th>
                    <th> Data de criação</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="link in links">
                    <td>{{link.Item}}</td>
                    <td>{{link.ItemType}}</td>
                    <td>{{link.Creator}}</td>
                    <td>{{link.CreationDate | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn" title="Remover vínculo">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button"
                data-ng-click="step = 'list'"
                class="btn btn-default">
            Voltar
        </button>
    </div>
</div>

<div class="row" data-ng-show="step == 'addNewLink'">
    <h2>Adicionar vínculo ao requisito FR01</h2>

    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Tipo </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in specificationItems">
                    <td>{{item.Item}}</td>
                    <td>{{item.ItemType}}</td>
                </tr>
            </tbody>
        </table>

        <button type="button"
                data-ng-click="manageLinks()"
                class="btn btn-default">
            Cancelar
        </button>
    </div>
    <div class="col-md-7">
        ~Dados do artefato~
    </div>
    <div class="col-md-2">
        <button class="btn btn-default">Adicionar</button>
    </div>
</div>

