<div class="row" data-ng-show="step == 'newIssue'">
    <h2>Adicionar observação em requisito RF01</h2>
    <div class="col-md-6">
        <div class="form-group">
            <label>
                Descrição
                <textarea class="form-control"></textarea>
            </label>
        </div>
        <div class="btn-group">
            <button type="button"
                    data-ng-click="step = 'list'"
                    class="btn btn-default">
                Cancelar
            </button>

            <button type="button" class="btn btn-primary">Salvar</button>
        </div>
    </div>    
</div>