@using GSDRequirementsCSharp.Infrastructure.Internationalization

<h3 data-ng-show="currentClass.cell">
    @Sentences.manageVersions
</h3>

<div class="row" data-ng-class="{ 'global-loading' : pendingRequests > 0 }">
    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Sentences.label</th>
                    <th>@Sentences.version</th>                    
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="version in versions"
                    role="button"
                    data-ng-class="{'selected': selected == version}"
                    data-ng-click="select(version)">
                    <td>{{version.label}}</td>
                    <td>{{version.version}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9">
        <button class="btn btn-default"
                data-ng-click="restoreVersion()"
                data-ng-disabled="!selected">
            @Sentences.restoreVersion
        </button>

        <div class="diagram-display-box">
            <gsd-requirement-details data-ng-show="selected"
                                     data-requirement-link="selected"
                                     data-version="selected.version">
            </gsd-requirement-details>
        </div>
    </div>
</div>
