<div class="row" data-ng-show="step == 'details'">
    <h2>Detalhes do requisito FR01 - Versão 3</h2>
    <div class="col-md-12">

        <h3>Dados</h3>
        <div class="row margin-top">
            <label class="col-md-1">Descrição</label>
            <div class="col-md-10">Quando o usuário for administrador o sistema deve permitir gerenciar permissões de acesso</div>
        </div>
        <div class="row margin-top">
            <label class="col-md-1">Dificuldade</label>
            <div class="col-md-10">Fácil</div>
        </div>
        <div class="row margin-top">
            <label class="col-md-1">Rank</label>
            <div class="col-md-10">25</div>
        </div>
        <div class="row margin-top">
            <label class="col-md-1">Tipo</label>
            <div class="col-md-10">Requisito funcional</div>
        </div>

        <hr />

        <h3>Vínculos</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Tipo do item</th>
                    <th>Criador</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="link in links">
                    <td>{{link.Item}}</td>
                    <td>{{link.ItemType}}</td>
                    <td>{{link.Creator}}</td>
                    <td>{{link.CreationDate | date:'dd/MM/yyyy'}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <hr />
        <h3>Versões</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Criador</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="version in versions">
                    <td>{{version.Number}}</td>
                    <td>{{version.Creator}}</td>
                    <td>{{version.CreationDate | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn" type="button" title="Ver versão">
                            <span class="glyphicon glyphicon-fullscreen"></span>
                        </button>
                        <button class="btn" type="button" title="Restaurar versão">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button"
                data-ng-click="step = 'list'"
                class="btn btn-default">
            Voltar
        </button>
    </div>
</div>