@using GSDRequirementsCSharp.Infrastructure.Internationalization

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "GSD-R: " + Sentences.projectDefinedInTheContextRequired;
}

<h2>@Sentences.error</h2>

<p>@Sentences.thePageYouReTryingToAccessRequireAProjectDefinedInTheContext</p>

<p>@Sentences.selectAProjectAboveAndDefineItAsTheContextOrRegisterANewOneIfNoProjectIsRegistered</p>
