@using GSDRequirementsCSharp.Infrastructure.Internationalization

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>@Sentences.error</h2>

<p>@Sentences.thePageYouReTryingToAccessRequireAProjectDefinedInTheContext</p>

<p>@Sentences.selectAProjectAboveAndDefineItAsTheContextOrRegisterANewOneIfNoProjectIsRegistered</p>
