@using GSDRequirementsCSharp.Infrastructure.Internationalization

<button class="btn btn-default"
        type="button"
        data-ng-click="addIssue()"
        title="@Sentences.addIssue">
    <span class="glyphicon glyphicon-comment"></span>
</button>
