@using GSDRequirementsCSharp.Infrastructure.Internationalization

<button class="btn btn-default"
        style="color: red"
        data-ng-click="seeIssues()"
        title="@Sentences.seePendingIssues">
    <span class="glyphicon glyphicon-alert"></span>
</button>
