@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <h2>@Sentences.useCaseDiagram {{specificationItem.label}}</h2>

    <div id="useCaseDiagramDisplayPaperContainer">
        <div id="useCaseDiagramDisplayPaper"> </div>
    </div>

</article>