<h3>Versões</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Número</th>
            <th>Criador</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="version in versions">
            <td>{{version.Number}}</td>
            <td>{{version.Creator}}</td>
            <td>{{version.CreationDate | date:'dd/MM/yyyy'}}</td>
            <td>
                <button class="btn" type="button" title="Ver versão">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button class="btn" type="button" title="Restaurar versão">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
