@helper TextInput(string name,
                  string label,
                  bool required,
                  Dictionary<string, string> attributes)
{
    <div class="form-group">
        <label for="@name">
            @if (required)
            {
                <span class="required">*</span>
            }
            @label
        </label>
        <input type="text" id="@name" 
               @if (required) { 
                  @: required="required" 
               }
               @foreach(var att in attributes) {                  
                  @: @att.Key="@att.Value"
               }
               class="form-control"
               />
    </div>
}
