@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <h2>@Sentences.classDiagram {{specificationItem.label}}</h2>

    <div id="classDiagramDisplayPaperContainer">
        <div id="classDiagramDisplayPaper"> </div>
    </div>

</article>