@using GSDRequirementsCSharp.Infrastructure.Internationalization


@{ 
    Layout = "~/Views/Shared/_DiagramContainerLayout.cshtml";
}

<h2>@Sentences.classDiagrams</h2>

<div data-ng-controller="ClassDiagramListController">

    <gsd-class-diagram-form></gsd-class-diagram-form>
</div>
