@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Models


<div class="row">
    <div class="col-md-6">
        @TextInputHelper.TextInput("name",
                                    Sentences.name,
                                    true,
                                    Att.NgModel("project.name"))
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @TextInputHelper.TextArea("description",
                                  Sentences.description,
                                  true,
                                  Att.NgModel("project.description"))
    </div>
</div>
