@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Models

<article data-ng-class="{ 'global-loading' : pendingRequests > 0 }">
        
    <div class="row" style="margin-bottom: 25px; ">
        <div class="col-md-12">
            <ul class="nav nav-pills underlined">
                <li data-ng-repeat="locale in availableLocaleContents"
                    role="button"
                    data-ng-class="{'active': displayLocale == locale.name}">
                    <a data-ng-click="setDisplayLocale(locale.name)">
                        {{locale.label}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Sentences.name
        </div>
        <div class="col-md-6">
            {{originalName}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Sentences.description
        </div>
        <div class="col-md-6">
            {{originalDescription}}
        </div>
    </div>

    <article data-gsd-project-translation-list=""
             data-translations="translations"
             data-translations-already-provided="translationsAlreadyProvided"></article>

    <div class="btn-group">
        <button class="btn btn-default"
                data-ng-click="project = null">
            @Sentences.cancel
        </button>
        <button class="btn btn-primary"
                type="button"
                data-ng-click="save()">
            @Sentences.add
        </button>
    </div>
</article>

