@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Persistence.Commands.Users.SaveUserCommand

@{
    ViewBag.Title = Sentences.createNewAccount;
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
}

<article data-ng-controller="NewAccountController">

    <h2>@Sentences.createNewAccount</h2>

    @model CreateUserCommand

</article>